<td>
    {{i}}.
</td>
<td>
                <div *ngIf="notediting&&item.title">
                    {{item.title}}
                </div>
                <input *ngIf="editing" id="enterTitle" name="enterTitle" class="form-control" placeholder="Type Title"
                    [(ngModel)]="item.title" required />
            </td>
<td>
                <div *ngIf="notediting&&item.message">
                    {{item.message}}
                </div>
                <input *ngIf="editing" id="enterMessage" name="enterMessage" class="form-control" placeholder="Type Message"
                    [(ngModel)]="item.message" required />
            </td>
<td>
                <div *ngIf="notediting&&channel">
                    {{channel.name}}
                </div>
                <mat-select *ngIf="editing" [(ngModel)]="channel" name="from">
                    <mat-option *ngFor="let c of channels" [value]="c">
                        <span>{{c.name}}</span>
                    </mat-option>
                </mat-select>
            </td>
<td>
                    <button *ngIf="notediting" class="float-right" color="primary" mat-raised-button
                        (click)="initiateEdit()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button *ngIf="editing" class="float-right" color="warn" mat-raised-button (click)="cancelEdit()">
                        <mat-icon>cancel</mat-icon>
                    </button>
                    <button *ngIf="editing" class="float-right" color="success" mat-raised-button
                        (click)="commitEdit()">
                        <mat-icon>save</mat-icon>
                    </button>
            </td>

