<main role="main">
    <div class="inner-adjust">
        <div class="card" *ngIf="showList">
            <div class="card-header card-header-primary">
                <div class="text-center pt-0 pb-2 mb-3">
                    <span style="margin-right: 10px;" class="fas fa-user float-left"></span>
                    <span style="font-size: x-large;font-weight: normal;" class="float-left">Notifications</span>
                    <button *ngIf="showList" class="float-right" color="warn" mat-raised-button (click)="onCreate()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-primary">
                        <th># </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Message
                        </th>
                        <th>
                            Channel
                        </th>

                        <th></th>
                    </thead>
                    <tbody>
                        <tr app-notificationitem [item]='item' [i]="(limit*(pagination_clicked_count))+(i+1)"
                            *ngFor="let item of tableData; index as i">
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <button mat-icon-button color="primary" (click)="prevPage()"
                        [disabled]="disable_prev || !(pagination_clicked_count>0)">
                        <mat-icon>fast_rewind</mat-icon>
                    </button>
                    <b class="float-inside">Page no:{{pagination_clicked_count+1}} of {{count}}</b>
                    <button mat-icon-button color="primary" (click)="nextPage()" [disabled]="disable_next">
                        <mat-icon>fast_forward</mat-icon>
                    </button>
                    <div *ngIf="loading"> <i class="fa fa-spinner fa-spin float-right fa-2x"></i> </div>
                </div>
            </div>
        </div>
        <div *ngIf="creating" class="animated fadeIn  col-lg-6">
            <div class="card" style="margin:20px">
                <div class="card-body">
                    <form>
                        <div class="form-group col">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="entertitle" class="col-sm-12 col-form-label">Title</label>
                            <div class="col-sm-12">
                                <input id="entertitle" name="entertitle" class="form-control" placeholder="Type Title"
                                    [(ngModel)]="selitem.title" required>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="entermessage" class="col-sm-12 col-form-label">Message</label>
                            <div class="col-sm-12">
                                <input id="entermessage" name="entermessage" class="form-control"
                                    placeholder="Type Message" [(ngModel)]="selitem.message" required>
                            </div>
                        </div>
                        <div class="form-group colo">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="enterChannel" class="col-sm-12 col-form-label"> Select Channel</label>
                            <div class="col-sm-12">
                                <mat-select [(ngModel)]="channel" name="channel">
                                    <mat-option *ngFor="let c of channels" [value]="c">
                                        <span>{{c.name}}</span>
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button class="float-right" color="warn" mat-raised-button (click)="cancelCreate()">
                                    <mat-icon>cancel</mat-icon>
                                    Cancel
                                </button>
                                <button class="float-right" color="success" mat-raised-button (click)="addItem()">
                                    <mat-icon>check</mat-icon>Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br />
    </div>
</main>