<td>
    {{i}}.
</td>
<td>
    <div *ngIf="notediting&&item.entryFee">
        {{item.entryFee}}
    </div>
</td>
<td>
    <div *ngIf="notediting&&item.gameMap">
        {{item.gameMap}}
    </div>
</td>
<td>
    <div *ngIf="notediting&&item.gameMode">
        {{item.gameMode}}
    </div>
</td>
<td>
    <div *ngIf="notediting&&item.matchNumber">
        {{item.matchNumber}}
    </div>
</td>
<td>
    <div *ngIf="notediting&&item.maxRoom">
        {{item.maxRoom}}
    </div>
</td>
<td>
    <div *ngIf="notediting&&item.perKill">
        {{item.perKill}}
    </div>
</td>
<td>
    <div *ngIf="notediting&&item.prizePool">
        {{item.prizePool}}
    </div>
</td>
<td>
    <div *ngIf="notediting&&item.matchType">
        {{item.matchType}}
    </div>
</td>
<td>
    <div *ngIf="notediting&&item.gameTime">
        {{item.gameTime | date:' MMM dd, yyyy hh:mm'}} 
    </div>
</td>
<td>
    <div *ngIf="notediting&&item.matchId">
        {{item.matchId}}
    </div>
</td>
<td>
    <div *ngIf="notediting&&item.roomId">
        {{item.roomId}}
    </div>
</td>
<td>
    <div *ngIf="notediting&&item.password">
        {{item.password}}
    </div>
</td>
<td>
    <div *ngIf="notediting&&item.featuredImage">
        <img class="brand-logo" style="height: 50px;"
            src="{{(item.featuredImage) ? item.featuredImage : '/assets/dummy-user.png'}}" alt="{{item.name}}">
    </div>
</td>
<td>
    <a mat-mini-fab [routerLink]="['/matchview/',item.id,parentId]">
        <mat-icon>launch</mat-icon>
    </a>
</td>