<td>
    {{i}}.
</td>
<td>
    <div *ngIf="notediting&&item.categoryName">
        {{item.categoryName}}
    </div>
</td>
<td>
    <div *ngIf="notediting&&item.categoryImage">
        <img class="brand-logo" style="height: 50px;"
            src="{{(item.categoryImage) ? item.categoryImage : '/assets/dummy-user.png'}}" alt="{{item.categoryImage}}">
    </div>
</td>
<td>
    <a mat-mini-fab [routerLink]="['/categoryview/',item.id]">
        <mat-icon>launch</mat-icon>
    </a>
</td>