<div class="card" *ngIf="showList">
    <div class="card-header card-header-primary">
        <div class="text-center pt-0 pb-2 mb-3">
            <span style="margin-right: 10px;" class="fas fa-flag float-left"></span> <span
                style="font-size: x-large;font-weight: normal;" class="float-left">Matches</span>
            <button *ngIf="showList" class="float-right" color="warn" mat-raised-button (click)="onCreate()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover">
            <thead class="text-primary">
                <th>
                    No.
                </th>
                <th>
                    Entry Fee
                </th>
                <th>
                    Game Map
                </th>
                <th>
                    Game Mode
                </th>
                <th>
                    Match Number
                </th>
                <th>
                    Max Room
                </th>
                <th>
                    Per Kill
                </th>
                <th>
                    Prize Pool
                </th>
                <th>
                    Match Type
                </th>
                <th>
                    Game Time
                </th>
                <th>
                    Match ID
                </th>
                <th>
                    Password
                </th>

                <th></th>

                <th></th>
            </thead>
            <tbody>
                <tr app-matchesitem [item]='item' [i]="i+1" [parentId]="parentId"
                    *ngFor="let item of tableData; index as i">
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="creating" class="animated fadeIn  col-lg-12">
    <div class="card" style="margin:20px">
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group col">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="enterentryFee" class="col-sm-12 col-form-label">Entry Fee</label>
                            <div class="col-sm-12">
                                <input type="number" id="enterentryFee" name="enterentryFee" class="form-control"
                                    placeholder="Type Entry Fee" [(ngModel)]="selitem.entryFee" required>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="entergameMap" class="col-sm-12 col-form-label">Game Map</label>
                            <div class="col-sm-12">
                                <input id="entergameMap" name="entergameMap" class="form-control"
                                    placeholder="Type Game Map" [(ngModel)]="selitem.gameMap" required>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="entergameMode" class="col-sm-12 col-form-label">Game Mode</label>
                            <div class="col-sm-12">
                                <input id="entergameMode" name="entergameMode" class="form-control"
                                    placeholder="Type Game Mode" [(ngModel)]="selitem.gameMode" required>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="entermatchNumber" class="col-sm-12 col-form-label">Match Number</label>
                            <div class="col-sm-12">
                                <input type="number" id="entermatchNumber" name="entermatchNumber" class="form-control"
                                    placeholder="Type Match Number" [(ngModel)]="selitem.matchNumber" required>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="entermaxRoom" class="col-sm-12 col-form-label">Max Room</label>
                            <div class="col-sm-12">
                                <input type="number" id="entermaxRoom" name="entermaxRoom" class="form-control"
                                    placeholder="Type Max Room" [(ngModel)]="selitem.maxRoom" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group col">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="enterperKill" class="col-sm-12 col-form-label">Per Kill</label>
                            <div class="col-sm-12">
                                <input type="number" id="enterperKill" name="enterperKill" class="form-control"
                                    placeholder="Type Per Kill" [(ngModel)]="selitem.perKill" required>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="enterprizePool" class="col-sm-12 col-form-label">Prize Pool</label>
                            <div class="col-sm-12">
                                <input type="number" id="enterprizePool" name="enterprizePool" class="form-control"
                                    placeholder="Type Prize Pool" [(ngModel)]="selitem.prizePool" required>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="entermatchType" class="col-sm-12 col-form-label">Match Type</label>
                            <div class="col-sm-12">
                                <input id="entermatchType" name="entermatchType" class="form-control"
                                    placeholder="Type Match Type" [(ngModel)]="selitem.matchType" required>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="entermatchId" class="col-sm-12 col-form-label">Match ID</label>
                            <div class="col-sm-12">
                                <input id="entermatchId" name="entermatchId" class="form-control"
                                    placeholder="Type Match ID" [(ngModel)]="selitem.matchId" required>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="enterRoomId" class="col-sm-12 col-form-label">Room ID</label>
                            <div class="col-sm-12">
                                <input id="enterRoomId" name="enterRoomId" class="form-control"
                                    placeholder="Type Room ID" [(ngModel)]="selitem.roomId" required>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="enterpassword" class="col-sm-12 col-form-label">Password</label>
                            <div class="col-sm-12">
                                <input id="enterpassword" name="enterpassword" class="form-control"
                                    placeholder="Type Password" [(ngModel)]="selitem.password" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group col">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="gameTime" class="col-sm-12 col-form-label">Select Game Time</label>
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="gameTime">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="true"
                                       [stepHour]="1" [stepMinute]="1" [stepSecond]="1"
                                       [disableMinute]="false" [hideTime]="false">
                                    </ngx-mat-datetime-picker>
                                 </mat-form-field>
                            </div>  
                        </div>
                        <div class="form-group">
                            <div class="media">
                                <img class="thumb"
                                    src="{{(selitem.featuredImage) ? selitem.featuredImage : service.icon}}"
                                    alt="{{selitem.imagelink}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="entertitle" class="col-sm-12 col-form-label">Image</label>
                            <div class="progress" *ngIf="uploading">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                    [style.width]="(uploadProgress | async) + '%'"
                                    [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0"
                                    aria-valuemax="100">
                                </div>
                            </div>
                            <input style="display: none" type="file" (change)="onFileChanged($event)" #hiddenfileinput>

                            <button (click)="hiddenfileinput.click()" color="success" mat-raised-button><i
                                    class="material-icons left">cloud</i>Upload Image</button>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button class="float-right" color="warn" mat-raised-button (click)="cancelCreate()">
                                    <mat-icon>cancel</mat-icon>
                                    Cancel
                                </button>
                                <button class="float-right" color="success" mat-raised-button (click)="addItem()">
                                    <mat-icon>check</mat-icon>Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>