<!-- Sidebar navigation -->
<div class="container-fluid">
    <nav style="background-color:rgb(50, 0, 154) !important;"
        class="navbar fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/dashboard">
            <img class="brand-logo" style="height: 55px;" src="{{service.icon}}" alt="TROP">
        </a>
        <ul class="nav">
            <div class="btn-group" dropdown>
                <button id="button-disabled-menu" dropdownToggle type="button" class="btn btn-warning dropdown-toggle"
                    aria-controls="dropdown-disabled-menu">
                    SETTINGS <span class="gears"></span>
                </button>
                <ul id="dropdown-disabled-menu" *dropdownMenu class="dropdown-menu" role="menu"
                    aria-labelledby="button-disabled-menu">
                    <li role="menuitem">
                        <a class="nav-link" routerLink="/categories">
                            <i class="fas fa-flag"></i>Categories
                        </a>
                    </li>
                    <li role="menuitem">
                        <a class="nav-link" routerLink="/users">
                            <i class="fas fa-user"></i>Users
                        </a>
                    </li>
                </ul>
            </div>
            <div style="margin-left: 10px;" class="btn-group" dropdown>
                <button style="color: aliceblue !important;" id="button-disabled-menu" dropdownToggle
                    type="button btn-info" class="btn btn-orange dropdown-toggle"
                    aria-controls="dropdown-disabled-menu">
                    CONTENT <span class="caret"></span>
                </button>
                <ul id="dropdown-disabled-menu" *dropdownMenu class="dropdown-menu" role="menu"
                    aria-labelledby="button-disabled-menu">
                    <li role="menuitem">
                        <a class="nav-link" routerLink="/notifications">
                            <i class="fas fa-user"></i>Notifications
                        </a>
                    </li>
                    <li role="menuitem">
                        <a class="nav-link" routerLink="/channels">
                            <i class="fas fa-user">
                            </i>Notifications Channels
                        </a>
                    </li>
                    <li role="menuitem">
                        <a class="nav-link" routerLink="/appversions">
                            <i class="fas fa-user"></i>App Version Releases
                        </a>
                    </li>
                    <li role="menuitem">
                        <a class="nav-link" routerLink="/platforms">
                            <i class="fas fa-box"></i>App Platforms
                        </a>
                    </li>
                    <li role="menuitem">
                        <a class="nav-link" routerLink="/promografixes">
                            <i class="fas fa-flag"></i>Home Promo Grafix
                        </a>
                    </li>
                    <li role="menuitem">
                        <a class="nav-link" routerLink="/smallbannerses">
                            <i class="fas fa-flag"></i>Small Banners
                        </a>
                    </li>
                </ul>
            </div>

            <div style="margin-left: 10px;" class="btn-group" dropdown>
                <button *ngIf="auth.userData"
                    style="color: aliceblue !important;background-color: transparent !important; text-transform: none !important; box-shadow: none !important;"
                    id="button-disabled-menu" dropdownToggle type="button" class="btn dropdown-toggle"
                    aria-controls="dropdown-disabled-menu">
                    {{auth.userData.email}} <span class="caret"></span>
                </button>
                <ul id="dropdown-disabled-menu" *dropdownMenu class="dropdown-menu" role="menu"
                    aria-labelledby="button-disabled-menu">
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()">
                            <i class="fas fa-sign-out-alt"></i>Logout
                        </a>
                    </li>
                </ul>
            </div>
        </ul>
    </nav>
    <!-- Main content -->
    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <div class="inner-adjust">
            <router-outlet></router-outlet>
        </div>
    </main>
    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p class="float-right">
                    Created By by <a style="color: green;" href="">Company
                        | 0760000000</a>
                </p>
            </div>
        </div>
    </footer>
</div>