<main role="main">
    <div class="inner-adjust">
        <div class="card" *ngIf="showList">
            <div class="card-header card-header-primary">
                <div class="text-center pt-0 pb-2 mb-3">
                    <span style="margin-right: 10px;" class="fas fa-user float-left"></span> <span
                        style="font-size: x-large;font-weight: normal;" class="float-left">App Users</span>
                    <div class="col-lg-9">
                        <mat-form-field *ngIf="!loadinguser" style="font-size: smaller;" class="col">
                            <input style="color: aliceblue;" matInput placeholder="Search user" [matAutocomplete]="auto"
                                [formControl]="searchuser">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnuser"
                                (optionSelected)='optionSelecteduser($event.option.value)'>
                                <mat-option *ngFor="let user of filteredusers | async" [value]="user">
                                    <span>{{user.email}}</span>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-primary">
                        <th># </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Phone 
                        </th>
                        <th>
                            App V
                        </th>
                        <th>
                            Registration Status
                        </th>
                        <th>
                            Photo
                        </th>
                        <th>
                            Registered
                            <button mat-icon-button color="warn" (click)="setOrderBy('createdat')" aria-label="Example icon button with a heart icon">
                                <mat-icon>keyboard_arrow_up</mat-icon>
                              </button>
                        </th>
                        <th>
                            Seen
                            <button mat-icon-button color="warn" (click)="setOrderBy('lastseen')" aria-label="Example icon button with a heart icon">
                                <mat-icon>keyboard_arrow_up</mat-icon>
                              </button>
                        </th>
                        <th></th>

                        <th></th>
                    </thead>
                    <tbody>
                        <tr app-useritem [item]='item' [i]="(limit*(pagination_clicked_count))+(i+1)"
                            *ngFor="let item of tableData; index as i">
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <button mat-icon-button color="primary" (click)="prevPage()"
                        [disabled]="disable_prev || !(pagination_clicked_count>0)">
                        <mat-icon>fast_rewind</mat-icon>
                    </button>
                    <b class="float-inside">Page no:{{pagination_clicked_count+1}} of {{count}}</b>
                    <button mat-icon-button color="primary" (click)="nextPage()" [disabled]="disable_next">
                        <mat-icon>fast_forward</mat-icon>
                    </button>
                    <div *ngIf="loading"> <i class="fa fa-spinner fa-spin float-right fa-2x"></i> </div>
                </div>
            </div>
        </div>
        <div *ngIf="creating" class="animated fadeIn  col-lg-6">
            <div class="card" style="margin:20px">
                <div class="card-body">
                    <form>
                        <div class="form-group col">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="enterfirstname" class="col-sm-12 col-form-label">User Name</label>
                            <div class="col-sm-12">
                                <input id="enterfirstname" name="enterfirstname" class="form-control"
                                    placeholder="Type User Name" [(ngModel)]="selitem.firstname" required>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="enteremail" class="col-sm-12 col-form-label">Email</label>
                            <div class="col-sm-12">
                                <input id="enteremail" name="enteremail" class="form-control" placeholder="Type Email"
                                    [(ngModel)]="selitem.email" required>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="entergender" class="col-sm-12 col-form-label">Gender</label>
                            <div class="col-sm-12">
                                <input id="entergender" name="entergender" class="form-control"
                                    placeholder="Type Gender" [(ngModel)]="selitem.gender" required>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="enterrole" class="col-sm-12 col-form-label">Role</label>
                            <div class="col-sm-12">
                                <input id="enterrole" name="enterrole" class="form-control" placeholder="Type Role"
                                    [(ngModel)]="selitem.role" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button class="float-right" color="warn" mat-raised-button (click)="cancelCreate()">
                                    <mat-icon>cancel</mat-icon>
                                    Cancel
                                </button>
                                <button class="float-right" color="success" mat-raised-button (click)="addItem()">
                                    <mat-icon>check</mat-icon>Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br />
    </div>
</main>
