<td>
    {{i}}.
</td>
<td>
                <div *ngIf="notediting&&item.versionion">
                    {{item.versionion}}
                </div>
                <input *ngIf="editing" id="enterVersionion" name="enterVersionion" class="form-control" placeholder="Type Versionion"
                    [(ngModel)]="item.versionion" required />
            </td>
<td>
                <div *ngIf="notediting&&platform">
                    {{platform.name}}
                </div>
                <mat-select *ngIf="editing" [(ngModel)]="platform" name="from">
                    <mat-option *ngFor="let c of platforms" [value]="c">
                        <span>{{c.name}}</span>
                    </mat-option>
                </mat-select>
            </td>
<td>
                <div *ngIf="notediting&&item.datereleased">
                    {{item.datereleased | date:' MMM dd, yyyy'}}
                </div>
                <mat-form-field *ngIf="editing" style="width: 70%;">
                    <input matInput [matDatepicker]="pickerdatereleased" [formControl]="datereleased"
                        id="datereleased">
                    <mat-datepicker-toggle matSuffix [for]="pickerdatereleased"></mat-datepicker-toggle>
                    <mat-datepicker #pickerdatereleased></mat-datepicker>
                </mat-form-field>
            </td>
<td>
                <div *ngIf="notediting&&item.message">
                    {{item.message}}
                </div>
                <input *ngIf="editing" id="enterMessage" name="enterMessage" class="form-control" placeholder="Type Message"
                    [(ngModel)]="item.message" required />
            </td>
<td>
    <mat-checkbox *ngIf="notediting" disabled="true" [(ngModel)]="item.sendnotification"></mat-checkbox>
    <mat-checkbox *ngIf="editing" disabled="false" [(ngModel)]="item.sendnotification"></mat-checkbox>
</td>
<td>
    <mat-checkbox *ngIf="notediting" disabled="true" [(ngModel)]="item.newwest"></mat-checkbox>
    <mat-checkbox *ngIf="editing" disabled="false" [(ngModel)]="item.newwest"></mat-checkbox>
</td>
<td>
                    <button *ngIf="notediting" class="float-right" color="primary" mat-raised-button
                        (click)="initiateEdit()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button *ngIf="editing" class="float-right" color="warn" mat-raised-button (click)="cancelEdit()">
                        <mat-icon>cancel</mat-icon>
                    </button>
                    <button *ngIf="editing" class="float-right" color="success" mat-raised-button
                        (click)="commitEdit()">
                        <mat-icon>save</mat-icon>
                    </button>
            </td>

