<main role="main">
    <div class="inner-adjust profile-page">
        <h2>{{item.name}}'s' User Profile</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Basic Information</h3>
                    </div>
                    <hr>
                    <div class="card-body">
                        <label>Name</label>
                        <p>{{item.name}}</p>
                        <label>Email</label>
                        <p>{{item.email}}</p>
                        <label>Phone.</label>
                        <p>{{item.phone}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Wallet History</h3>
                        <button *ngIf="!addTransaction" class="float-right" color="danger" mat-raised-button
                            (click)="addTransactionFormShow()">
                            <mat-icon></mat-icon> Add Prize
                        </button>
                    </div>
                    <hr>
                    <div class="card-body">
                        <form *ngIf='addTransaction'>
                            <div class="form-group col">
                                <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                    for="entertitle" class="col-sm-12 col-form-label">Amount</label>
                                <div class="col-sm-12">
                                    <input type="number" id="entertitle" name="entertitle" class="form-control"
                                        placeholder="Amount" [(ngModel)]="amount" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <button class="float-right" color="warn" mat-raised-button (click)="cancelCreate()">
                                        <mat-icon>cancel</mat-icon>
                                        Cancel
                                    </button>
                                    <button class="float-right" color="success" mat-raised-button
                                        (click)="commitTransaction()">
                                        <mat-icon>check</mat-icon>Save
                                    </button>
                                </div>
                            </div>
                        </form>
                        <ul *ngIf='!addTransaction' class="list-group">
                            <div class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Narration </h5>
                                    <p><small> Date(MMM,dd hh:mm)</small> </p>
                                    <p>Open</p>
                                    <p>Amnt</p>
                                    <p>Close</p>
                                </div>
                            </div>
                            <a *ngFor="let item of tableData"
                                class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{item.narration}} </h5>
                                    <p><small> {{item.date.toDate() | date:' MMM dd HH:mm'}}</small> </p>
                                    <p>{{item.open}}</p>
                                    <p>{{item.prizeamount}}</p>
                                    <p>{{item.newvalue}}</p>
                                </div>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Matches</h3>
                    </div>
                    <hr>
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h3>Something</h3>
                    </div>
                    <hr>
                    <div class="card-body">

                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>

    </div>
</main>