<td>
    {{i}}.
</td>
<td>
    <div *ngIf="item.name">
        {{item.name}}<p *ngIf='item.role'><strong> ({{item.role}}</strong>)</p>
    </div>
</td>
<td>
    <div *ngIf="item.email">
        {{item.email}} {{item.phone}}
    </div>
</td>
<td>
    <div *ngIf="item.appversion">
        {{item.appversion}}
    </div> 
</td>
<td>
    <div *ngIf="item.appversion">
        {{item.approved}}
    </div> 
</td>
<td>
    <img class="brand-logo" style="height: 50px;" src="{{(item.photoUrl) ? item.photoUrl : '/assets/dummy-user.png'}}"
        alt="{{item.name}}">
</td>
<td>
    <div *ngIf="item.createdat">
        <p><small> {{item.createdat.toDate() | date:' MMM dd, yyyy HH:mm'}}</small> </p>
    </div>
</td>
<td>
    <div *ngIf="item.lastseen"> 
        <p><small> {{item.lastseen.toDate() | date:' MMM dd, yyyy HH:mm'}}</small> </p>
    </div>
</td>
<td> 
    <a mat-mini-fab [routerLink]="['/profile/',item.id]">
        <mat-icon>launch</mat-icon>
    </a>
</td>
<td>
    <!-- <button class="float-right" color="warn" mat-raised-button (click)="deleteRecord()">
        <mat-icon>delete</mat-icon>
    </button> -->
</td>