<td>
    {{i}}.
</td>
<td>
    <div *ngIf="notediting&&item.name">
        {{item.name}}
    </div>
</td>
<td>
    <div *ngIf="notediting&&item.imagelink">
        <img class="brand-logo" style="height: 50px;"
            src="{{(item.imagelink) ? item.imagelink : '/assets/dummy-user.png'}}" alt="{{item.name}}">
    </div>
</td>
<td>
    <div *ngIf="notediting&&item.fb">
        {{item.fb}}
    </div>
    <input *ngIf="editing" id="enterFb" name="enterFb" class="form-control" placeholder="Type Fb" [(ngModel)]="item.fb"
        required />
</td>
<td>
    <div *ngIf="notediting&&item.tw">
        {{item.tw}}
    </div>
    <input *ngIf="editing" id="enterTw" name="enterTw" class="form-control" placeholder="Type Tw" [(ngModel)]="item.tw"
        required />
</td>
<td>
    <div *ngIf="notediting&&item.in">
        {{item.in}}
    </div>
    <input *ngIf="editing" id="enterIn" name="enterIn" class="form-control" placeholder="Type In" [(ngModel)]="item.in"
        required />
</td>
<td>
    <div *ngIf="notediting&&item.ww">
        {{item.ww}}
    </div>
    <input *ngIf="editing" id="enterWw" name="enterWw" class="form-control" placeholder="Type Ww" [(ngModel)]="item.ww"
        required />
</td>
<td>
    <div *ngIf="notediting&&item.wt">
        {{item.wt}}
    </div>
    <input *ngIf="editing" id="enterWt" name="enterWt" class="form-control" placeholder="Type Wt" [(ngModel)]="item.wt"
        required />
</td>
<td>
    <div *ngIf="notediting&&item.aspirant">
        {{item.aspirant}}
    </div>
    <input *ngIf="editing" id="enterAspirant" name="enterAspirant" class="form-control" placeholder="Type Aspirant"
        [(ngModel)]="item.aspirant" required />
</td>
<td>
    <div *ngIf="notediting&&item.location">
        {{item.location}}
    </div>
    <input *ngIf="editing" id="enterLocation" name="enterLocation" class="form-control" placeholder="Type Location"
        [(ngModel)]="item.location" required />
</td>
<td>
    <button *ngIf="notediting" class="float-right" color="primary" mat-raised-button (click)="initiateEdit()">
        <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="editing" class="float-right" color="warn" mat-raised-button (click)="cancelEdit()">
        <mat-icon>cancel</mat-icon>
    </button>
    <button *ngIf="editing" class="float-right" color="success" mat-raised-button (click)="commitEdit()">
        <mat-icon>save</mat-icon>
    </button>
    <button class="float-right" color="warn" mat-raised-button (click)="deleteRecord()">
        <mat-icon>delete</mat-icon>
    </button>
</td>