<main role="main">
    <div class="inner-adjust">
        <div class="card" *ngIf="showList">
            <div class="card-header card-header-primary">
                <div class="text-center pt-0 pb-2 mb-3">
                    <span style="margin-right: 10px;" class="fas fa-flag float-left"></span> <span
                        style="font-size: x-large;font-weight: normal;" class="float-left"> Categories</span>
                    <button *ngIf="showList" class="float-right" color="warn" mat-raised-button (click)="onCreate()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-primary">
                        <th># </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Image
                        </th>

                        <th></th>
                    </thead>
                    <tbody>
                        <tr app-categoryitem [item]='item' [i]="(limit*(pagination_clicked_count))+(i+1)"
                            *ngFor="let item of tableData; index as i">
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <button mat-icon-button color="primary" (click)="prevPage()"
                        [disabled]="disable_prev || !(pagination_clicked_count>0)">
                        <mat-icon>fast_rewind</mat-icon>
                    </button>
                    <b class="float-inside">Page no:{{pagination_clicked_count+1}} of {{count}}</b>
                    <button mat-icon-button color="primary" (click)="nextPage()" [disabled]="disable_next">
                        <mat-icon>fast_forward</mat-icon>
                    </button>
                    <div *ngIf="loading"> <i class="fa fa-spinner fa-spin float-right fa-2x"></i> </div>
                </div>
            </div>
        </div>
        <div *ngIf="creating" class="animated fadeIn  col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group col">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="entername" class="col-sm-12 col-form-label">Name</label>
                            <div class="col-sm-12">
                                <input id="entername" name="entername" class="form-control" placeholder="Type Name"
                                    [(ngModel)]="selitem.categoryName" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="media">
                                <img class="thumb" src="{{(selitem.categoryImage) ? selitem.categoryImage : service.icon}}"
                                    alt="{{selitem.categoryImage}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                for="entertitle" class="col-sm-12 col-form-label">Image</label>
                            <div class="progress" *ngIf="uploading">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                    [style.width]="(uploadProgress | async) + '%'"
                                    [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0"
                                    aria-valuemax="100">
                                </div>
                            </div>
                            <input style="display: none" type="file" (change)="onFileChanged($event)" #hiddenfileinput>

                            <button (click)="hiddenfileinput.click()" color="success" mat-raised-button><i
                                    class="material-icons left">cloud</i>Upload Image</button>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button class="float-right" color="warn" mat-raised-button (click)="cancelCreate()">
                                    <mat-icon>cancel</mat-icon>
                                    Cancel
                                </button>
                                <button class="float-right" color="success" mat-raised-button (click)="addItem()">
                                    <mat-icon>check</mat-icon>Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br />
    </div>
</main>