<td>
    {{i}}.
</td>
<td>
                <div *ngIf="notediting&&item.name">
                    {{item.name}}
                </div>
                <input *ngIf="editing" id="enterName" name="enterName" class="form-control" placeholder="Type Name"
                    [(ngModel)]="item.name" required />
            </td>
<td>
                <div *ngIf="notediting&&item.description">
                    {{item.description}}
                </div>
                <input *ngIf="editing" id="enterDescription" name="enterDescription" class="form-control" placeholder="Type Description"
                    [(ngModel)]="item.description"  />
            </td>
<td>
                    <button *ngIf="notediting" class="float-right" color="primary" mat-raised-button
                        (click)="initiateEdit()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button *ngIf="editing" class="float-right" color="warn" mat-raised-button (click)="cancelEdit()">
                        <mat-icon>cancel</mat-icon>
                    </button>
                    <button *ngIf="editing" class="float-right" color="success" mat-raised-button
                        (click)="commitEdit()">
                        <mat-icon>save</mat-icon>
                    </button>
            </td>

