<main role="main">
    <div class="inner-adjust">
        <div class="card" *ngIf="showList">
            <div class="card-header card-header-primary">
                <div class="text-center pt-0 pb-2 mb-3">
                    <span style="margin-right: 10px;" class="fas fa-flag float-left"></span> <span
                        style="font-size: x-large;font-weight: normal;" class="float-left">Small Banners</span>
                    <button *ngIf="showList" class="float-right" color="warn" mat-raised-button (click)="onCreate()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-primary">
                        <th># </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                               Facebook Link
                       </th>
                        <th>
                               Twitter Link
                       </th>
                        <th>
                               Instagram
                       </th>
                        <th>
                               Website
                       </th>
                        <th>
                               Whatsapp Group
                       </th>
                        <th>
                               Aspirant ID
                       </th>
                        <th>
                               Location ID
                       </th>
                    </thead>
                    <tbody>
                        <tr app-smallbannersitem [item]='item' [i]="(limit*(pagination_clicked_count))+(i+1)"
                            *ngFor="let item of tableData; index as i">
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <button mat-icon-button color="primary" (click)="prevPage()"
                        [disabled]="disable_prev || !(pagination_clicked_count>0)">
                        <mat-icon>fast_rewind</mat-icon>
                    </button>
                    <b class="float-inside">Page no:{{pagination_clicked_count+1}} of {{count}}</b>
                    <button mat-icon-button color="primary" (click)="nextPage()" [disabled]="disable_next">
                        <mat-icon>fast_forward</mat-icon>
                    </button>
                    <div *ngIf="loading"> <i class="fa fa-spinner fa-spin float-right fa-2x"></i> </div>
                </div>
            </div>
        </div>
        <div *ngIf="creating" class="animated fadeIn  col-lg-12">
            <div class="card" style="margin:20px">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group col">
                                    <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                        for="entername" class="col-sm-12 col-form-label">Name</label>
                                    <div class="col-sm-12">
                                        <input id="entername" name="entername" class="form-control"
                                            placeholder="Type Name" [(ngModel)]="selitem.name" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="media">
                                        <img class="thumb"
                                            src="{{(selitem.imagelink) ? selitem.imagelink : service.icon}}"
                                            alt="{{selitem.imagelink}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                        for="entertitle" class="col-sm-12 col-form-label">Image</label>
                                    <div class="progress" *ngIf="uploading">
                                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                            [style.width]="(uploadProgress | async) + '%'"
                                            [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0"
                                            aria-valuemax="100">
                                        </div>
                                    </div>
                                    <input style="display: none" type="file" (change)="onFileChanged($event)"
                                        #hiddenfileinput>

                                    <button (click)="hiddenfileinput.click()" color="success" mat-raised-button><i
                                            class="material-icons left">cloud</i>Upload Image</button>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group col">
                                    <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                        for="enterfb" class="col-sm-12 col-form-label">Facebook Link</label>
                                    <div class="col-sm-12">
                                        <input id="enterfb" name="enterfb" class="form-control"
                                            placeholder="Type Facebook Link" [(ngModel)]="selitem.fb" required>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                        for="entertw" class="col-sm-12 col-form-label">Twitter Link</label>
                                    <div class="col-sm-12">
                                        <input id="entertw" name="entertw" class="form-control"
                                            placeholder="Type Twitter Link" [(ngModel)]="selitem.tw" required>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                        for="enterin" class="col-sm-12 col-form-label">Instagram</label>
                                    <div class="col-sm-12">
                                        <input id="enterin" name="enterin" class="form-control"
                                            placeholder="Type Instagram" [(ngModel)]="selitem.in" required>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                        for="enterww" class="col-sm-12 col-form-label">Website</label>
                                    <div class="col-sm-12">
                                        <input id="enterww" name="enterww" class="form-control"
                                            placeholder="Type Website" [(ngModel)]="selitem.ww" required>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                        for="enterwt" class="col-sm-12 col-form-label">Whatsapp Group</label>
                                    <div class="col-sm-12">
                                        <input id="enterwt" name="enterwt" class="form-control"
                                            placeholder="Type Whatsapp Group" [(ngModel)]="selitem.wt" required>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                        for="enteraspirant" class="col-sm-12 col-form-label">Aspirant ID</label>
                                    <div class="col-sm-12">
                                        <input id="enteraspirant" name="enteraspirant" class="form-control"
                                            placeholder="Type Aspirant ID" [(ngModel)]="selitem.aspirant" required>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                        for="enterlocation" class="col-sm-12 col-form-label">Location ID</label>
                                    <div class="col-sm-12">
                                        <input id="enterlocation" name="enterlocation" class="form-control"
                                            placeholder="Type Location ID" [(ngModel)]="selitem.location" required>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button class="float-right" color="warn" mat-raised-button (click)="cancelCreate()">
                                    <mat-icon>cancel</mat-icon>
                                    Cancel
                                </button>
                                <button class="float-right" color="success" mat-raised-button (click)="addItem()">
                                    <mat-icon>check</mat-icon>Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br />
    </div>
</main>