<main role="main">
    <div class="inner-adjust">
        <div class="card" *ngIf="showList">
            <div class="card-header card-header-primary">
                <div class="text-center pt-0 pb-2 mb-3">
                    <span style="margin-right: 10px;" class="fas fa-user float-left"></span> <span
                        style="font-size: x-large;font-weight: normal;" class="float-left">App Version Releases</span>
                    <button *ngIf="showList" class="float-right" color="warn" mat-raised-button (click)="onCreate()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-primary">
                        <th># </th>
                        <th>
                            Version Number
                        </th>
                        <th>
                            Platform
                        </th>
                        <th>
                            Date Released
                        </th>
                        <th>
                            Notification Message
                        </th>
                        <th>
                            Alert Users Now?
                        </th>
                        <th>
                            Newwest?
                        </th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr app-appversionitem [item]='item' [i]="(limit*(pagination_clicked_count))+(i+1)"
                            *ngFor="let item of tableData; index as i">
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <button mat-icon-button color="primary" (click)="prevPage()"
                        [disabled]="disable_prev || !(pagination_clicked_count>0)">
                        <mat-icon>fast_rewind</mat-icon>
                    </button>
                    <b class="float-inside">Page no:{{pagination_clicked_count+1}} of {{count}}</b>
                    <button mat-icon-button color="primary" (click)="nextPage()" [disabled]="disable_next">
                        <mat-icon>fast_forward</mat-icon>
                    </button>
                    <div *ngIf="loading"> <i class="fa fa-spinner fa-spin float-right fa-2x"></i> </div>
                </div>
            </div>
        </div>
        <div *ngIf="creating" class="animated fadeIn  col-lg-12">
            <div class="card" style="margin:20px">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group col">
                                    <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                        for="enterversionion" class="col-sm-12 col-form-label">Version Number</label>
                                    <div class="col-sm-12">
                                        <input id="enterversionion" name="enterversionion" class="form-control"
                                            placeholder="Type Version Number" [(ngModel)]="selitem.versionion" required>
                                    </div>
                                </div>
                                <div class="form-group colo">
                                    <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                        for="enterPlatform" class="col-sm-12 col-form-label"> Select Platform</label>
                                    <div class="col-sm-12">
                                        <mat-select [(ngModel)]="platform" name="platform">
                                            <mat-option *ngFor="let c of platforms" [value]="c">
                                                <span>{{c.name}}</span>
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                        for="datereleased" class="col-sm-12 col-form-label">Select Date Released</label>
                                    <div class="col-sm-12">
                                        <mat-form-field>
                                            <input matInput name="enterdatereleased"
                                                [matDatepicker]="pickerdatereleased" [formControl]="datereleased"
                                                id="datereleased">
                                            <mat-datepicker-toggle matSuffix [for]="pickerdatereleased">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #pickerdatereleased> </mat-datepicker>
                                        </mat-form-field>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group col">
                                    <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                        for="entermessage" class="col-sm-12 col-form-label">Notification Message</label>
                                    <div class="col-sm-12">
                                        <textarea rows="5" id="entermessage" name="entermessage" class="form-control"
                                            placeholder="Type Notification Message" [(ngModel)]="selitem.message"
                                            required></textarea>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                        for="sendnotification" class="col-sm-12 col-form-label">Alert Users Now?</label>
                                    <div class="col-sm-12">
                                        <mat-checkbox class="example-margin" name="entersendnotification"
                                            [(ngModel)]="selitem.sendnotification"></mat-checkbox>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <button class="float-right" color="warn" mat-raised-button
                                            (click)="cancelCreate()">
                                            <mat-icon>cancel</mat-icon>
                                            Cancel
                                        </button>
                                        <button class="float-right" color="success" mat-raised-button
                                            (click)="addItem()">
                                            <mat-icon>check</mat-icon>Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <br />
    </div>
</main>