<td>
    {{i}}.
</td>
<td>
    <div *ngIf="notediting&&item.name">
        {{item.name}}
    </div>
    <input *ngIf="editing" id="enterName" name="enterName" class="form-control" placeholder="Type Name"
        [(ngModel)]="item.name" required />
</td>
<td>
    <div *ngIf="notediting&&item.imagelink">
        <img class="brand-logo" style="height: 50px;"
            src="{{(item.imagelink) ? item.imagelink : '/assets/dummy-user.png'}}" alt="{{item.name}}">
    </div>
</td>
<td>
    <button class="float-right" color="warn" mat-raised-button (click)="deleteRecord()">
        <mat-icon>delete</mat-icon>
    </button>
</td>