<main role="main">
    <div class="inner-adjust">
        <div class="row">
            <div class="col-lg-12">
                <mat-card class="example-card mt-3">
                    <mat-card-content>
                        <form>
                            <div class="row mt-01">
                                <div class="col-lg-4">
                                    <div class="form-group col">
                                        <label *ngIf="editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            class="col-sm-12 col-form-label"> EnterEntry Fee</label>
                                        <input *ngIf="editing" id="enterEntryFee" name="enterEntryFee"
                                            class="form-control" placeholder="Type Entry Fee" type="number"
                                            [(ngModel)]="item.entryFee" required />
                                        <label *ngIf="!editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            for="entryFee" class="col-sm-12 col-form-label">Entry Fee</label>
                                        <div *ngIf="!editing&&item.entryFee" class="col-sm-12">
                                            {{item.entryFee}}
                                        </div>
                                    </div>
                                    <div class="form-group col">
                                        <label *ngIf="editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            class="col-sm-12 col-form-label"> EnterGame Map</label>
                                        <input *ngIf="editing" id="enterGameMap" name="enterGameMap"
                                            class="form-control" placeholder="Type Game Map" [(ngModel)]="item.gameMap"
                                            required />
                                        <label *ngIf="!editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            for="gameMap" class="col-sm-12 col-form-label">Game Map</label>
                                        <div *ngIf="!editing&&item.gameMap" class="col-sm-12">
                                            {{item.gameMap}}
                                        </div>
                                    </div>
                                    <div class="form-group col">
                                        <label *ngIf="editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            class="col-sm-12 col-form-label"> EnterGame Mode</label>
                                        <input *ngIf="editing" id="enterGameMode" name="enterGameMode"
                                            class="form-control" placeholder="Type Game Mode"
                                            [(ngModel)]="item.gameMode" required />
                                        <label *ngIf="!editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            for="gameMode" class="col-sm-12 col-form-label">Game Mode</label>
                                        <div *ngIf="!editing&&item.gameMode" class="col-sm-12">
                                            {{item.gameMode}}
                                        </div>
                                    </div>
                                    <div class="form-group col">
                                        <label *ngIf="editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            class="col-sm-12 col-form-label"> EnterMatch ID</label>
                                        <input *ngIf="editing" id="enterMatchId" name="enterMatchId"
                                            class="form-control" placeholder="Type Match ID" [(ngModel)]="item.matchId"
                                            required />
                                        <label *ngIf="!editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            for="matchId" class="col-sm-12 col-form-label">Match ID</label>
                                        <div *ngIf="!editing&&item.matchId" class="col-sm-12">
                                            {{item.matchId}}
                                        </div>
                                    </div>
                                    <div class="form-group col">
                                        <label *ngIf="editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            class="col-sm-12 col-form-label"> Enter Room ID</label>
                                        <input *ngIf="editing" id="enterRoomId" name="enterRoomId"
                                            class="form-control" placeholder="Type Room ID" [(ngModel)]="item.roomId"
                                            required />
                                        <label *ngIf="!editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            for="roomId" class="col-sm-12 col-form-label">Room ID</label>
                                        <div *ngIf="!editing&&item.roomId" class="col-sm-12">
                                            {{item.roomId}}
                                        </div>
                                    </div>
                                    <div class="form-group col">
                                        <label *ngIf="editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            class="col-sm-12 col-form-label"> EnterPassword</label>
                                        <input *ngIf="editing" id="enterPassword" name="enterPassword"
                                            class="form-control" placeholder="Type Password" [(ngModel)]="item.password"
                                            required />
                                        <label *ngIf="!editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            for="password" class="col-sm-12 col-form-label">Password</label>
                                        <div *ngIf="!editing&&item.password" class="col-sm-12">
                                            {{item.password}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group col">
                                        <label *ngIf="editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            class="col-sm-12 col-form-label"> EnterMatch Number</label>
                                        <input *ngIf="editing" id="enterMatchNumber" name="enterMatchNumber"
                                            class="form-control" placeholder="Type Match Number" type="number"
                                            [(ngModel)]="item.matchNumber" required />
                                        <label *ngIf="!editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            for="matchNumber" class="col-sm-12 col-form-label">Match Number</label>
                                        <div *ngIf="!editing&&item.matchNumber" class="col-sm-12">
                                            {{item.matchNumber}}
                                        </div>
                                    </div>
                                    <div class="form-group col">
                                        <label *ngIf="editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            class="col-sm-12 col-form-label"> EnterMax Room</label>
                                        <input *ngIf="editing" id="enterMaxRoom" name="enterMaxRoom" type="number"
                                            class="form-control" placeholder="Type Max Room" [(ngModel)]="item.maxRoom"
                                            required />
                                        <label *ngIf="!editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            for="maxRoom" class="col-sm-12 col-form-label">Max Room</label>
                                        <div *ngIf="!editing&&item.maxRoom" class="col-sm-12">
                                            {{item.maxRoom}}
                                        </div>
                                    </div>
                                    <div class="form-group col">
                                        <label *ngIf="editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            class="col-sm-12 col-form-label"> EnterPer Kill</label>
                                        <input *ngIf="editing" id="enterPerKill" name="enterPerKill" type="number"
                                            class="form-control" placeholder="Type Per Kill" [(ngModel)]="item.perKill"
                                            required />
                                        <label *ngIf="!editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            for="perKill" class="col-sm-12 col-form-label">Per Kill</label>
                                        <div *ngIf="!editing&&item.perKill" class="col-sm-12">
                                            {{item.perKill}}
                                        </div>
                                    </div>
                                    <div class="form-group col">
                                        <label *ngIf="editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            class="col-sm-12 col-form-label"> EnterPrize Pool</label>
                                        <input *ngIf="editing" id="enterPrizePool" name="enterPrizePool" type="number"
                                            class="form-control" placeholder="Type Prize Pool"
                                            [(ngModel)]="item.prizePool" required />
                                        <label *ngIf="!editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            for="prizePool" class="col-sm-12 col-form-label">Prize Pool</label>
                                        <div *ngIf="!editing&&item.prizePool" class="col-sm-12">
                                            {{item.prizePool}}
                                        </div>
                                    </div>
                                    <div class="form-group col">
                                        <label *ngIf="editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            class="col-sm-12 col-form-label"> EnterMatch Type</label>
                                        <input *ngIf="editing" id="enterMatchType" name="enterMatchType"
                                            class="form-control" placeholder="Type Match Type"
                                            [(ngModel)]="item.matchType" required />
                                        <label *ngIf="!editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            for="matchType" class="col-sm-12 col-form-label">Match Type</label>
                                        <div *ngIf="!editing&&item.matchType" class="col-sm-12">
                                            {{item.matchType}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div *ngIf="item" class="form-group col-4">
                                        <div class="row">
                                            <label
                                                style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                                for="entertitle" class="col-sm-12 col-form-label">Image</label>
                                            <div class="media">
                                                <img class="thumb" width="120px"
                                                    src="{{(item.featuredImage) ? item.featuredImage : service.icon}}"
                                                    alt="{{item.featuredImage}}">
                                            </div>
                                            <div class="progress" *ngIf="uploading">
                                                <div class="progress-bar progress-bar-striped bg-success"
                                                    role="progressbar" [style.width]="(uploadProgress | async) + '%'"
                                                    [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0"
                                                    aria-valuemax="100">
                                                </div>
                                            </div>
                                            <input style="display: none" type="file" (change)="onFileChanged($event)"
                                                #hiddenfileinput>
                                            <button *ngIf="editing" (click)="hiddenfileinput.click()" color="success"
                                                mat-raised-button><i class="material-icons left">cloud</i>Upload
                                                Image</button>
                                        </div>
                                    </div>

                                    <div class="form-group col">
                                        <label *ngIf="editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            for="gameTime" class="col-sm-12 col-form-label">Pick GameTime</label>
                                        <div *ngIf="editing" class="col-sm-12">
                                            <mat-form-field>
                                                <input matInput [ngxMatDatetimePicker]="picker"
                                                    placeholder="Choose a date" [formControl]="gameTime">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <ngx-mat-datetime-picker #picker [showSpinners]="true"
                                                    [showSeconds]="true" [stepHour]="1" [stepMinute]="1"
                                                    [stepSecond]="1" [disableMinute]="false" [hideTime]="false">
                                                </ngx-mat-datetime-picker>
                                            </mat-form-field>
                                        </div>
                                        <label *ngIf="!editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            for="gameTime" class="col-sm-12 col-form-label">GameTime</label>
                                        <div *ngIf="!editing" class="col-sm-12">
                                            {{item.gameTime | date:' MMM dd, yyyy hh:mm'}}
                                        </div>
                                    </div>
                                    <div class="form-group col-4">
                                        <button *ngIf="!editing" color="primary" mat-raised-button
                                            (click)="initiateEdit()">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button *ngIf="editing" color="warn" mat-raised-button (click)="cancelEdit()">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                        <button *ngIf="editing" color="success" mat-raised-button
                                            (click)="commitEdit()">
                                            <mat-icon>save</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</main>