<main role="main">
    <div class="inner-adjust">
        <div class="row">
            <div class="col-lg-2">
                <mat-card class="example-card mt-3">
                    <mat-card-content>
                        <form>
                            <div class="row mt-01">
                                <div class="col-lg-12">
                                    <div class="form-group col">
                                        <label *ngIf="editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            class="col-sm-12 col-form-label"> EnterName</label>
                                        <input *ngIf="editing" id="enterName" name="enterName" class="form-control"
                                            placeholder="Type Name" [(ngModel)]="item.categoryName" required />
                                        <label *ngIf="!editing"
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            for="name" class="col-sm-12 col-form-label">Name</label>
                                        <div *ngIf="!editing&&item.categoryName" class="col-sm-12">
                                            {{item.categoryName}}
                                        </div>
                                    </div>
                                    <div *ngIf="item" class="form-group col">
                                        <label
                                            style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            for="entertitle" class="col-sm-12 col-form-label">Image</label>
                                        <div class="media">
                                            <img class="thumb" width="120px"
                                                src="{{(item.categoryImage) ? item.categoryImage : service.icon}}"
                                                alt="{{item.categoryImage}}">
                                        </div>
                                        <div class="progress" *ngIf="uploading">
                                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                                [style.width]="(uploadProgress | async) + '%'"
                                                [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0"
                                                aria-valuemax="100">
                                            </div>
                                        </div>
                                        <input style="display: none" type="file" (change)="onFileChanged($event)"
                                            #hiddenfileinput>
                                        <button *ngIf="editing" (click)="hiddenfileinput.click()" color="success"
                                            mat-raised-button><i class="material-icons left">cloud</i>Upload
                                            Image</button>
                                    </div>
                                    <div class="form-group col">
                                        <label style="font-weight: 500;color: darkorchid !important;letter-spacing: 0.03em;"
                                            for="published" class="col-sm-12 col-form-label">Published?</label>
                                        <div class="col-sm-12">
                                            <mat-checkbox [disabled]="!editing" class="example-margin" name="enterpublished"
                                                [(ngModel)]="item.published"></mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <button *ngIf="!editing" class="float-right" color="primary"
                                                mat-raised-button (click)="initiateEdit()">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button *ngIf="editing" class="float-right" color="warn" mat-raised-button
                                                (click)="cancelEdit()">
                                                <mat-icon>cancel</mat-icon>
                                            </button>
                                            <button *ngIf="editing" class="float-right" color="success"
                                                mat-raised-button (click)="commitEdit()">
                                                <mat-icon>save</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-10">
                <app-match [parentId]='id'></app-match> 
            </div>
        </div>
    </div>
</main>